.body {
    background-color: silver;
    margin: 0em;
    font-family: 'Noto Sans', sans-serif;
}

.h1.h2.h3.h4.h5 {
    font-family: 'Fjalla One', sans-serif;
}

.cover {
    height: 400px;
    background-image: url("/img/rsz_portada.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.cover-small {
    height: 200px;
    background-blend-mode: normal;
}


/* .card {
        border: 0 !important;
        box-shadow: 0 4px 6px -1px rgba (0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
    }
    
    .card-title {
        min-height: 3rem;
    }
    
    .card-text {
        min-height: 10rem;
    }
    
    .services {
        overflow-x: scroll;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .services {
        display: flex;
        cursor: pointer;
    }
    
    .services item {
        width: 300px;
        /*flex-shrink: 0;*
        margin-right: 1rem;
    }
    
    .item-img {
        max-width: 100%;
        display: block;
    }
    
    .item-text {
        padding: 1rem;
    }
    */

.container-s {
    width: 100%;
    max-width: 1200px;
    height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-s h2 {
    text-align: center;
}

.container-s .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-s .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-s .card img {
    width: 330px;
    height: 220px;
}

.container-s .card h4 {
    font-weight: 600;
}

.container-s .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-s .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.container h3 {
    display: flex;
}

.contact {
    width: 100%;
    max-width: 1200px;
    height: 200px;
    background-color: grey;
    justify-content: center;
    color: honeydew;
}

.ubi {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    justify-content: center;
}


/*___________hacerca de nosotros*/

.footer {
    width: 100%;
    max-width: 1200px;
    height: 200px;
    background-color: grey;
    justify-content: center;
    color: honeydew;
}